.home {
    height: 100vh;
    background-color: #EEEDDE;
    text-align: center;
}
.header {
    text-align: center;
    padding: 2.0em;
    background-color: #E0DDAA;
}
.nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 50px;
}
